section {
    max-width: 1360px;
    margin: auto;
    margin-top: 75px;

    .counter-wrapper {

        width: 70%;
        margin: auto;

        h1 {
            font-size: 52px;
            margin-bottom: 40px;
        }

        .stitch-row-wrapper {

            .stitch-content,
            .row-content {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;

                .stitch-label,
                .row-label {
                    width: 50%;
                    text-align: right;
                }

                .stitch-value,
                .row-value {
                    text-align: center;
                    width: 20%;
                }
            }

            p {
                font-size: 48px;
            }

            button {
                padding: 8px;
                margin-left: 16px;
                width: 80px;
                border: none;
                border-radius: 6px;
                font-size: 16px;
                cursor: pointer;
            }

            .stitch,
            .row {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .row {
                margin-top: 12px;
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    section {
        margin-top: 20px;

        .counter-wrapper {

            h1 {
                font-size: 32px;
                text-align: center;
            }

            .stitch-row-wrapper {

                .stitch,
                .row {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    p {
                        font-size: 32px;
                    }

                    .buttons {
                        display: flex;
                        margin-top: 16px;

                        button {
                            margin-left: 6px;
                        }
                    }
                }

                .row {
                    margin-top: 30px;
                }
            }
        }
    }
}