.counter-section {
    margin: auto;
    padding-top: 125px;
    height: 100vh;
    background-color: #0A2F54;

    .counter-wrapper {

        width: 70%;
        margin: auto;

        h1 {
            font-size: 52px;
            margin-bottom: 40px;
        }

        .stitch-row-wrapper {

            .stitch-content,
                .row-content {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .stitch-label, .row-label {
                        text-align: center;
                        width: 50%;
                    }

                    .stitch-value, .row-value {
                        text-align: center;
                        width: 25%;
                    }
                }

            p {
                font-size: 48px;
            }

            button {
                padding: 8px;
                margin-left: 16px;
                width: 80px;
                border: none;
                border-radius: 6px;
                font-size: 16px;
                cursor: pointer;
                background-color: #87CEFA;
            }

            .stitch,
            .row {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .row {
                margin-top: 12px;
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .counter-section {
        margin-top: 0px;

        .counter-wrapper {

            h1 {
                font-size: 32px;
                text-align: center;
            }

            .stitch-row-wrapper {

                .stitch-content,
                .row-content {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 200px;

                    .stitch-label, .row-label {
                        text-align: center;
                        width: 50%;
                    }

                    .stitch-value, .row-value {
                        text-align: center;
                        width: 25%;
                    }
                }


                .stitch,
                .row {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    p {
                        font-size: 32px;
                    }

                    .buttons {
                        display: flex;
                        margin-top: 16px;

                        button {
                            margin-left: 6px;
                        }
                    }
                }

                .row {
                    margin-top: 30px;
                }
            }
        }
    }
}
