.patterns-wrapper {
    background-color: #0A2F54;
    display: flex;
    .left {
        border-right: 2px solid black;
        width: 50%;
        form {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 120px auto 0 auto;

            input {
                padding: 10px;
                border-radius: 8px;
                border: 1px solid black;
                font-size: 18px;
            }

            #submit-btn {
                width: 25%;
                margin: 30px auto 0 auto;
                background-color: #87CEFA;
            }

            label {
                margin-top: 20px;
                padding: 4px;
                font-size: 20px;
            }

            p {
                color: red;
            }
        }
    }

    .right {
        width: 50%;
        margin-top: 30px;
        overflow-y: auto;
        padding-bottom: 30px;

        .patterns-title {
            font-size: 20px;
            text-align: center;
        }

        .patterns {
            margin-top: 80px;
            width: 85%;
            margin: 80px auto 0 auto;
            display: flex;
            gap: 50px;
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .patterns-wrapper {
        display: flex;
        flex-direction: column;

        .left {
            width: 100%;
            border: none;

            form {
                margin-top: 70px;

                #submit-btn {
                    width: 50%;
                }
            }
        }

        .right {
            width: 100%;
            .patterns {
                margin-top: 50px;
                margin-bottom: 50px;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .patterns-wrapper {
        height: 100vh;
    }
}