
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 100px;
    background-color: #38C8BD;

    h1 {
        font-size: 50px;
    }


    nav a {
        text-decoration: none;
        color: #DA9A93;
        margin: 0 12px;
        font-size: 22px;

        &:hover {
            color: darken($color: #DA9A93, $amount: 30%);
        }
    }
}

.nav-btn {
    display: none;
}

.log-out-div {
    display: inline;

    button {
        padding: 6px 8px 6px 8px;
        font-size: 18px;
        margin-left: 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        color: #DA9A93;

        &:hover {
            background-color: darken($color: white, $amount: 12%);
        }
    }
}

.title {
    
    h1 {
        font-size: 42px;
    }

    p {
        padding: 0 4px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-btn {
        display: block;
        padding: 4px 8px 2px 8px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
    }

    header {
        padding: 0 20px;

        h1 {
            font-size: 36px;
        }
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: darken($color: #38C8BD, $amount: 10%);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive-nav {
        transform: none;

        a {
            margin-top: 12px;
            color: darken($color: #DA9A93, $amount: 30%);
        }
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }


    .title {
        display: block;
    }

    .log-out-div {
        #log-out-btn  {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: auto;
            width: 100px;
        }
    }

}