.pattern {
    width: 200px;
    height: 200px;
    background-color: #DFC5FE;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: black;

    div {
        margin-top: 10px;
    }
}


@media only screen and (max-width: 1024px) {
    .pattern {
        margin: 0 auto;
    }
}