@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 16px;
    font-family: 'Ysabeau SC', sans-serif;
    color: #DA9A93;
}